<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center">
                        <img src="../../assets/me.jpg" alt="Avatar">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                        <h2 class="mb-4" style="display: inline-flex;">About Me</h2>
                        <p>Full stack developer</p>
                        <ul class="about-info mt-4 px-md-0 px-2">

                            <li>
                                <span>Name:</span> <span>Itzik Savaia</span>
                            </li>
                            <li>
                                <span>Date of birth:</span> <span>28.01.1994</span>
                            </li>
                            <li>
                                <span>Address:</span> <span>Reshon-Lezion</span>
                            </li>
                            <li>
                                <span>Email:</span>
                                <span>
                                    <a href="mailto:itziksavaia@gmail.com">itziksavaia@gmail.com</a>
                                </span>
                            </li>
                            <li>
                                <span>Phone:</span>
                                <span>
                                    <a href="tel:0503936369">050-3936369</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="counter-wrap ftco-animate d-flex mt-md-3 fadeInUp ftco-animated">
                    <a href="https://docs.google.com/document/d/1cisLsjE_xW0wpQBMaGujxaTs8nTZc7KeJDMWsk9BNpo/edit?usp=sharing"
                        style="color: white;">
                        <div class="text">
                            <p>
                                <button class="glow-on-hover" type="button">
                                    CV English
                                </button>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="counter-wrap ftco-animate d-flex mt-md-3 fadeInUp ftco-animated">
                    <a href="https://docs.google.com/document/d/1f-5jSxzpvy_3tIJeBA3kGibrONvAcW9My7oVY6nl4LI/edit?usp=sharing"
                        style="color: white;">
                        <div class="text">
                            <p>
                                <button class="glow-on-hover" type="button">
                                    קורות חיים עיברית
                                </button>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>