<div class="wrapper">
    <h2 class="mb-4">Projects</h2>
    <div class="cols" *ngFor="let project of projects">
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/504/504/)">
                    <div class="inner">
                        <p>{{project.name}}</p>
                        <span>{{project.description}}</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p><a href="{{project.href}}">{{project.name}}</a></p>
                        <span>{{project.description}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>