
.icon-bar {
    width: 90px;
    position: fixed;
    top: 25%;
    
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding:25px;
    transition: all 2.0s ease;
    color: white;
    font-size: 36px;
    width: 10px;
    padding-right: 0px;
  }
  
  .icon-bar a:hover {
    background-color:#DC143C;
    box-shadow: 10px 15px 0px 0px rgba(1, 0, 0, 0.6)
  }
  .active {
    background-color: #4CAF50; 
  }

@media screen and (max-width: 580px) {
    .icon-bar{
        top: 27%;
    }
}
