<div class="row">
    <div class="context">
        <div id="navbar" class="container topBotomBordersOut">
            <nav class="navbar navbar-expand-lg navbar-light">
                <!-- <a class="navbar-brand"></a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a (click)="scroll(Home)">Home</a>
                        <a (click)="scroll(About)">About</a>
                        <a (click)="scroll(Knowledge)">Knowledge</a>
                        <a (click)="scroll(Projects)">Projects</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="container">
            <div #Home>
                <br><br><br>
                <div id="c">
                    I am
                    <div id="flip">
                        <div>
                            <div>Full-stack</div>
                        </div>
                        <div>
                            <div>Front-end</div>
                        </div>
                        <div>
                            <div>Back-end</div>
                        </div>
                    </div>
                </div>
                <a (click)="scroll(About)" style="padding-right: 43px;right: 15px;top: 400px;">
                    <div class="arrows"></div>
                </a>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <hr #About>
            <br><br><br>
            <div>
                <app-about></app-about>
            </div>
            <hr #Knowledge>
            <br><br><br>
            <div>
                <app-knowledge></app-knowledge>
            </div>
            <hr #Projects>
            <br><br><br>
            <div>
                <app-projects></app-projects>
            </div>
        </div>
        <app-contact></app-contact>
    </div>
</div>