<div class="row">
    <div class="context">
        <div id="navbar" class="container red topBotomBordersOut">
            <a (click)="scroll(Home)">Home</a>
            <a (click)="scroll(About)">About</a>
            <a (click)="scroll(Resume)">Resume</a>
            <a (click)="scroll(Projects)">Projects</a>
            <a (click)="scroll(Contact)">Contact</a>
        </div>
        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="container">
            <div #Home>
                <br><br><br>
                <div id="c">
                    I am
                    <div id="flip">
                        <div>
                            <div>Full-stack</div>
                        </div>
                        <div>
                            <div>Front-end</div>
                        </div>
                        <div>
                            <div>Back-end</div>
                        </div>
                    </div>
                </div>
                <a (click)="scroll(Resume)" style="padding-right: 43px;right: 15px;top: 400px;">
                    <div class="arrows"></div>
                </a>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <hr #About>
            <br><br><br>
            <div>
                <app-about></app-about>
            </div>
            <hr #Resume>
            <div>
                <app-resume></app-resume>
            </div>
            <div #Projects>
                <app-projects></app-projects>
            </div>
            <hr #Contact>
            <div>
                <app-contact></app-contact>
            </div>
        </div>

    </div>
</div>