body {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.heading {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
  color: #dc143c;
}

h1,
h1 + p {
  margin: 30px 15px 0;
  font-weight: 300;
}
h1 + p a {
  color: #333;
}
h1 + p a:hover {
  text-decoration: none;
}
h2 {
  padding: 0;
  font-weight: 300;
}
h2 span {
  margin-left: 1em;
  color: #aaa;
  font-size: 85%;
}
.column {
  margin: 15px 15px 0;
  padding: 0;
}
.column:last-child {
  padding-bottom: 60px;
}
.column::after {
  content: "";
  clear: both;
  display: block;
}
.column div {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin: 0 0 0 25px;
  padding: 0;
}
.column div:first-child {
  margin-left: 0;
}
.column div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
figure {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
figure:hover + span {
  bottom: -36px;
  opacity: 1;
}
/* Gray Scale */
.hover08 figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 50%;
}
.hover08 figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

@media only screen and (max-width: 600px) {
  .hover08 figure img {
    width: 60%;
  }
  figure {
    width: 80px;
    height: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .hover08 figure img {
    width: 60%;
  }
  figure {
    width: 80px;
    height: 50px;
  }
}
